version: '3'

volumes:
  postgres:

services:
  web:
    build: .
    command: /bin/sh -c 'python manage.py migrate && python manage.py runserver 0.0.0.0:8000'
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings
      - DB_HOST=postgres
      - REDIS_HOST=redis
    depends_on:
      - redis
      - postgres
      - celery-worker
      - celery-beat

  celery-beat:
    build: .
    command: celery -A config.celery_app beat -l info
    volumes:
      - .:/app
    environment:
      - DB_HOST=postgres
      - REDIS_HOST=redis
    depends_on:
      - redis
      - celery-worker

  celery-worker:
    build: .
    command: celery -A config.celery_app worker -l info
    volumes:
      - .:/app
    environment:
      - DB_HOST=postgres
      - REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    image: redis

  postgres:
    image: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=ctx_user
      - POSTGRES_PASSWORD=ctx_password
      - POSTGRES_DB=ctx_db
